@model List<ResultBannerDto>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
    int count = 0;
}

<div class="page-content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Ana Sayfa Banner Alanı</h4>
                        <p class="card-subtitle mb-4">
                            Ana Sayfanın Banner alanını aşagıdan listeleyip değiştirebiliirsiniz.
                            Tema bütünlüğü için lütfen sadece 1 addet veri girişinde bulununuz aksi taktirde tema 
                            bütünlüğü bozulur.
                        </p>
                        <div class="table-responsive">
                            <table class="table mb-0">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Başlık</th>
                                        <th>Açıklama</th>
                                        <th>Video,Url</th>
                                        <th>Video Açıklama</th>
                                        <th>Sil</th>
                                        <th>Güncelle</th>
                                        <th>Youtube'de,aç</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        count++;
                                        <tr>
                                            <th scope="row">@count</th>
                                            <td>@item.Tittle</td>
                                            <td>@item.Description</td>
                                            <td>@item.VideoUrl</td>
                                            <td>@item.VideoDescription</td>
                                            <td><a href="/Admin/AdminBanner/RemoveBanner/@item.BannerID" class="btn btn-danger">Sil</a></td>
                                            <td><a href="/Admin/AdminBanner/UpdateBanner/@item.BannerID" class="btn btn-warning">Güncelle</a></td>
                                            <td><a href="/Admin/AdminBanner/UpdateBanner/@item.BannerID" class="btn btn-dark">Youtube'de,aç</a></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            <a href="/Admin/AdminBanner/CreateBanner/" class="btn btn-info">Yeni Araç Marka Girişi</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>